<header class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Logo" class="logo-img" />
    <span class="logo-title">Cloud Creators</span>
  </div>
  <nav class="nav-links">
    <a href="" (click)="scrollToSection($event, 'home')" [class.active]="isActive('home')">Home</a>
    <a href="" (click)="scrollToSection($event, 'services')" [class.active]="isActive('services')">Services</a>
    <a href="" (click)="scrollToSection($event, 'about')" [class.active]="isActive('about')">About Us</a>
    <a href="" (click)="scrollToSection($event, 'portfolio')" [class.active]="isActive('portfolio')">Portfolio</a>
    <a href="" (click)="scrollToSection($event, 'terms')" [class.active]="isActive('terms')">Terms & Conditions</a>
    <a href="" (click)="scrollToSection($event, 'contact')" [class.active]="isActive('contact')">Contact Us</a>
  </nav>

</header>
